<div class="bingo-board">
  {{#each tiles as |tile|}}
    <div
      role="button"
      aria-pressed={{tile.selected}}
      class="tile"
      style="background-image: url('{{if tile.image tile.image tile.logo}}');background-size: contain; background-repeat: no-repeat; background-position: center;"
      onclick={{action "toggleTileSelect" tile}}
    >
      <p class="tile-word">{{if tile.logo "" tile.sponsor}}</p>
    </div>
  {{/each}}
</div>

{{#if this.hasSimpleBingo}}
  <button class="ui green fluid button {{if this.isSubmitting 'loading disabled'}}" {{action 'submitResults'}} disable={{if this.isSubmitting true false}}>
    Submit Results, or Keep Going!
  </button>
{{/if}}

{{outlet}}
