{{#each tiles as |tile|}}
  <div
    role="button"
    aria-pressed={{tile.selected}}
    class="tile {{tile.tier}}"
    onclick={{action "toggleTileSelect" tile}}
  >
    <p class="tile-word">{{tile.sponsor}} {{if tile.selected "selected"}}</p>
  </div>
{{/each}}
